# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# IDEs and editors
.c9/
.idea/
.project
*.launch
.settings/
.classpath
*.sublime-workspace

### vscode ###
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/css_custom_data.json
*.code-workspace

# build
/dist
/build
/dist-ssr

# misc
.env
.env.*
*.local
!.env.example
/connect.lock
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/coverage
/typings

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# End of https://www.toptal.com/developers/gitignore/api/